<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 🐯 TecMarket </ion-title>
    <ion-buttons slot="end">
      <ion-chip>
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
      </ion-chip>
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Explorar</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-slides class="card-background-page">
    <ion-slide>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">
          Comida hecha para y por estudiantes
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-item>
    <ion-label>Emprendedores destacados</ion-label>
    <ion-button slot="end" fill="clear"></ion-button>
  </ion-item>
  <ion-slides class="perfiles">
    <!--Perfiles-->
    <ion-slide>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">Anne Shangai</div>
      </ion-card>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">Anne Shangai</div>
      </ion-card>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">Anne Shangai</div>
      </ion-card>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">Anne Shangai</div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">Anne Shangai</div>
      </ion-card>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">Anne Shangai</div>
      </ion-card>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">Anne Shangai</div>
      </ion-card>
      <ion-card div class="card">
        <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
        <div class="card-title">Anne Shangai</div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-item>
    <ion-label>Productos Populares</ion-label>
    <ion-button fill="clear" slot="end"> Ver todo </ion-button>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-chip>Comida</ion-chip>
      </ion-col>
      <ion-col size="auto">
        <ion-chip>Postres</ion-chip>
      </ion-col>
      <ion-col size="auto">
        <ion-chip>Accesorios</ion-chip>
      </ion-col>
      <ion-col size="auto">
        <ion-chip>Otros</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row class="productos">
      <ion-col>
        <ion-card>       
          <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
          <ion-card-header>
            <ion-card-title>Ensalada</ion-card-title>
            <ion-card-subtitle>Pedro Avila</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Ensalada campestre con vegetales
          </ion-card-content>
          <ion-button fill="clear">$24.00</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/FaPNQD4XwAATViO.jpg" />
          <ion-card-header>
            <ion-card-title>Pizza de la casa</ion-card-title>
            <ion-card-subtitle>Anne Shangai</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Pizza horneada a la leña con 3 salsas
          </ion-card-content>
          <ion-button fill="clear">$65.00</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
